USE [sample]
GO
/****** Object:  StoredProcedure [dbo].[uspProduct]    Script Date: 20-02-2026 11:51:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[uspProduct]
(
    @intMode INT,
    @id INT = NULL,
    @name VARCHAR(100) = NULL,
    @qty INT = NULL,
    @price DECIMAL(10,2) = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

  -- Insert
    IF (@intMode = 1)
    BEGIN
        INSERT INTO Products (Prod_Name, Prod_qty, Prod_Price)
        VALUES (@name, @qty, @price);
    END

    -- Show all
    IF (@intMode = 2)
    BEGIN
        SELECT Prod_ID, Prod_Name, Prod_qty, Prod_Price FROM Products;
    END

    -- Update
    IF (@intMode = 3)
    BEGIN
        UPDATE Products
        SET Prod_Name = @name, Prod_qty = @qty, Prod_Price = @price
        WHERE Prod_ID = @id;
    END

    -- Delete
    IF (@intMode = 4)
    BEGIN
        DELETE FROM Products WHERE Prod_ID = @id;
    END

    -- Search
    IF (@intMode = 5)
    BEGIN
        IF (@id IS NOT NULL)
            SELECT Prod_ID, Prod_Name, Prod_qty, Prod_Price
            FROM Products WHERE Prod_ID = @id;
        ELSE IF (@name IS NOT NULL)
            SELECT Prod_ID, Prod_Name, Prod_qty, Prod_Price
			FROM Products WHERE Prod_Name LIKE '%' + @name + '%';
    END
END
END

Select * from Product